:root{
    --color-main-deepblue:#1F244E;
    --color-main-lightblue:rgba(0, 40, 112, 0.70);
    --color-sub-lightblue:rgba(0, 40, 112, 0.30);
    --color-sub-grey:#d9d9d9;
    --font-color-main:#3a3a3a;
    --font-color-sub:#ffffff;
    --font-weight-bold:700;
    --font-weight-normal:500;
    --font-weight-light:400;

}

body, html{
    margin: 0;
    padding: 0;
}

/*네비게이션 바*/
.navbar{
    background-color: var(--color-sub-lightblue);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 좌측*/
.navbar_title{
    margin-left: 10%;
}
.navbar__toggle-btn{
    display:none;
}
/*송곳매 로고*/
.maha_lazer{
    width: 45px;
    height: 48px;
}

/*송곳매 로고 글씨*/
.service_title{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 12px;
}

/*네비게이션 바 우측*/
.navbar_text{
    margin-right: 10%;
    display: flex;
    float: left;
}

/*네비게이션 바 우측 디테일*/
.navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_main{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    font-weight: var(--font-weight-normal);
    padding-right:2vw;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_create{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    font-weight: var(--font-weight-normal);
    padding-right:2vw;
}

.navbar_menu_login{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    font-weight: var(--font-weight-light);
    padding-right:2vw;

}

.navbar_menu_email{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    font-weight: var(--font-weight-light);
    padding-right:2vw;

}
.community_main_title{
    font-family: "Noto Sans KR";
    font-size:20px;
    color:var(--font-color-main);
    text-align: center;
    font-weight: var(--font-weight-bold);
    margin-top:5%;
}
.accordion_area{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.accordion_drop_container{
    display:flex;
}
.open_btn.dropdown{
    display:flex;
    align-items: center;
    width:100%;
    background-color: var(--color-main-lightblue);
    border: 1px solid var(--color-sub-grey);
    border-radius: 8px 8px 0px 0px;
}
.open_btn{
    display:flex;
    align-items: center;
    width:100%;
    background-color: var(--font-color-sub);
    border: 1px solid var(--color-sub-grey);
    border-radius: 8px 8px 0px 0px;
}
.info_circle{
    display:none;
}
.info_circle.dropdown{
    width:20px;
    height:20px;
    margin-right:10px;
    margin-left:18px;
    color:var(--font-color-sub);
}
.info_circle_black{
    width:20px;
    height: 20px;
    margin-right:10px;
    margin-left:18px;
}
.info_circle_black.dropdown{
    display:none;
}
.accordion_title_text{
    font-family:"Noto Sans KR";
    color:var(--font-color-main);
    font-size:15px;
    font-weight:var(--font-weight-bold);
}

.accordion_title_text.dropdown{
    font-family:"Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    font-weight:var(--font-weight-bold);
}
.bottom_arrow{
    width:21px;
    height:11px;
    margin-left:auto;
    margin-right:5px;
}
.bottom_arrow.dropdown{
    display:none;
}
.accordion_content{
    height:0px;
    overflow-y: hidden;
    border:1px solid var(--color-sub-grey);
    border-radius: 0px 0px 8px 8px;
}

.accordion_content_text{
    font-family: "Noto Sans KR";
    color:var(--font-color-main);
    font-size:10px;
    margin-left:12px;
    margin-right:12px;
    line-height:200%;
}
.dropdown{
    display:block;
    height:100%;
    overflow:auto;
}
/*푸터*/
.footer{
    background-color: var(--color-main-deepblue);
    width:100%;
    height: 120px;
    margin-top: 3%;
}
.footer_menu{
    padding-top: 2%;
    padding-left: 2%;
}
.footer_text{
    display:inline-block;
    text-align: center;
    white-space: nowrap;
    width:100px;
    margin-left:10%;
}
.terms_of_use{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right: 40%;
    text-decoration: none;

}
.private_info{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:40%;
    text-decoration: none;
}
.contact_us{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:40%;
    text-decoration: none;
}
.community_compliance{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    text-decoration: none;
}
.copyright_div{
    display:flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:10%;
}

.copyright_mark{
    width:10px;
    height: 10px;
    margin-right:5px;
}
.copyright_likelion{
    font-family: "Noto Sans KR";
    font-size:11px;
    color:var(--font-color-sub);
}

/*반응형 웹페이지 - 미디어커리*/
@media screen and (max-width:767px){
    .navbar {
        width:100%;
        height: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .service_title{
        display:none;
    }
    .navbar_title {
        margin: 10px 0;
    }

    .navbar_text {
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .navbar_menu {
        display:none;
    }
    .navbar_menu.open{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar__toggle-btn{
        display:flex;
    }
    .navbar__toggle-btn.open{
        display:none;
    }
    .community_main_title{
        margin-bottom: 3%;
    }
    .open_btn{
        margin-top:3%;
    }

    .footer{
        width:100%;
    }
    .footer_menu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_text{
        width:100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left:0;
    }
    .terms_of_use{
        font-size:12px;
        padding-right: 5%;
    }
    .community_compliance{
        font-size:12px;
        padding-right: 5%;
    }

    .private_info{
        font-size:12px;
        padding-right: 5%;
    }
    .contact_us{
        font-size:12px;
        padding-right: 5%;
    }
    .copyright_div{
        justify-content: center;
        margin-top:3%;
        margin-left:0;
    }
}