:root{
    --color-main-deepblue:#1F244E;
    --color-main-lightblue:rgba(0, 40, 112, 0.70);
    --color-sub-lightblue:rgba(0, 40, 112, 0.30);
    --color-sub-grey:#d9d9d9;
    --font-color-main:#3a3a3a;
    --font-color-sub:#ffffff;
    --font-weight-bold:700;
    --font-weight-normal:500;
    --font-weight-light:400;

}

body, html{
    margin: 0;
    padding: 0;
}

/*네비게이션 바*/
.navbar{
    background-color: var(--color-sub-lightblue);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 좌측*/
.navbar_title{
    margin-left: 10%;
}

/*송곳매 로고*/
.maha_lazer{
    width: 45px;
    height: 48px;
}

/*송곳매 로고 글씨*/
.service_title{
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-left: 10px;
    position: absolute;
    margin-top: 14px;
}

/*네비게이션 바 우측*/
.navbar_text{
    margin-right: 10%;
    display: flex;
    float: left;
}

/*네비게이션 바 우측 디테일*/
.navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_create{
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    font-weight: var(--font-weight-normal);
    padding-right:2vw;
}

.navbar_menu_login{
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    font-weight: var(--font-weight-light);
    padding-right:2vw;

}

/*페이지에서 보이는 가장 큰 타이틀*/
.page_title{
    font-family: "Noto Sans KR";
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    font-color:var(--font-color-main);
    margin-top:10%;
}

/*필수입력항목을 안내하는 p태그 묶음*/
.warning_box{
    display:flex;
    justify-content: left;
    flex-direction: row;
    /*margin-left: 180px;*/
    margin-left: 10%;
    margin-top:8%;
}

/*청원 입력전 주의사항*/
.info_text{
    font-family:"Noto Sans KR";
    font-weight: var(--font-weight-normal);
    color: var(--font-color-main);
    font-size:20px;
}
.warning_text{
    font-family: "Noto Sans KR";
    font-weight: var(--font-weight-normal);
    font-size:15px;
    color:#950000;
    margin-top:22px;
    /*margin-left:700px;*/
    margin-left:54%;
}
/*입력칸 전체를 담은 큰 박스*/
.create_page_box{
    border:1px solid var(--color-sub-grey);
    border-radius: 30px;
}

/*입력박스 제일 위에 있는 구분선*/
.createbox_topline{
    width:80%;
    border: 0.5px solid var(--font-color-main);
    margin-top: 30px;
}

/*청원제목 텍스트와 input 박스 묶음*/
.title_box{
    display:flex;
    flex-direction: row;
    margin-left:3%;
}
/*청원제목 텍스트*/
.create_title{
    font-family: "Noto Sans KR";
    font-weight: var(--font-weight-normal);
    color:var(--font-color-main);
    font-size:15px;
    display:flex;
    margin-left:100px;
}
/*제목 input 박스*/
.post_title{
    font-family: "Noto Sans KR";
    border: 1px solid var(--color-sub-grey);
    border-radius: 10px;
    width:70%;
    height:49px;
    margin-left:1%;
}
.createbox_between_line{
    width:80%;
    border: 0.5px solid var(--font-color-main);
    margin-top: 30px;
}

.fix{
    /*width: 1200.007px;*/
    width: 100%;
    height: 1px;
    background: #D9D9D9;
}

/*반응형 웹페이지 - 미디어커리*/
@media screen and (max-width:767px){
    .navbar_menu_create{
        padding-right:4vw;
        font-size:0.8rem;
    }
    .navbar_menu_login{
        font-size:0.5rem;
    }
    .page_title{
        font-size:2rem;
        margin-top:20%;
    }
    .info_text{
        display:none;
    }
    .warning_text{
        font-size:0.8rem;
    }
    .create_page_box{
        border:none;
    }
    .create_title{
        margin-left: 3%;
    }
    .title_box{
        margin-left: 10%;
    }
    .post_title{
        width:60%;
    }
}