:root{
    --color-main-deepblue:#1F244E;
    --color-main-lightblue:rgba(0, 40, 112, 0.70);
    --color-sub-lightblue:rgba(0, 40, 112, 0.30);
    --color-sub-grey:#d9d9d9;
    --font-color-main:#3a3a3a;
    --font-color-sub:#ffffff;
    --font-weight-bold:700;
    --font-weight-normal:500;
    --font-weight-light:400;

}

body, html{
    margin: 0;
    padding: 0;
}

/*네비게이션 바*/
.navbar{
    background-color: #002870;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 좌측*/
.navbar_title{
    margin-left: 10%;
}

/*송곳매 로고*/
.maha_lazer{
    width: 45px;
    height: 48px;
}

/*송곳매 로고 글씨*/
.service_title{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 12px;
}

/*네비게이션 바 우측*/
.navbar_text{
    margin-right: 10%;
    display: flex;
    justify-items: flex-start;
    float: left;
}

/*네비게이션 바 우측 디테일*/
.navbar_menu{
    list-style: none;
    display: flex;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_item{
    /*margin-right: 20px;*/
    margin-right: 1vw;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

/*페이지에서 보이는 가장 큰 타이틀*/
.page_title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

/**/
h2{
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 30px;
}

/*청원 디테일 전체 div*/
.detail{
    margin: 0 auto;
    margin-top: 3%;
    /*width: 1200px;*/
    width: 63%;
    /*height: 945px;*/
    height: 100%;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.detail_head{
    display: flex;
}

.detail_title_like{
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
}

/*청원 제목*/
.detail_title{
    flex: 1;
    margin-left: 5%;
    /*display: flex;*/
    display: table-cell;
    /*display: inline-block;*/
    width: 1200px;
    /*height: 90px;*/
    height: 6vw;

    flex-shrink: 0;
    color: #000;
    font-family: Noto Sans KR;
    /*font-size: 20px;*/
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*청원 좋아요/싫어요*/
.detail_like{
    flex: 1;
    display: table-cell;
    float: right;
    margin-right: 10%;

}

/*청원 공유*/
.detail_share{
    flex: 0;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    clear: both;
}

/*.detail_share_logo{*/
/*    flex: 0;*/
/*    float: right;*/
/*    margin-right: 1%;*/
/*    margin-top: 1%;*/
/*    clear: both;*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*중간 선*/
.fix{
    /*width: 1200.007px;*/
    width: 100%;
    height: 1px;
    background: #D9D9D9;
}

.detail_body{
    /*clear: both;*/
}

/*청원 작성 일시/조회수*/
.detail_time{
    float: right;
    width: 183px;
    color: #000;
    text-align: right;
    font-family: Noto Sans KR;
    /*font-size: 15px;*/
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 800;
    line-height: 60%;
    margin-right: 5%;
    margin-top: 1%;
    clear: both;
}


/*청원 본문 내용*/
.detail_content{
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    /*width: 1090px;*/
    width: 90%;
    height: 149px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Noto Sans KR;
    /*font-size: 15px;*/
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer{
    background-color: var(--color-main-deepblue);
    width:100%;
    height: 120px;
    margin-top: 3%;
}
.footer_menu{
    padding-top: 2%;
    padding-left: 2%;
}
.footer_text{
    display:inline-block;
    text-align: center;
    white-space: nowrap;
    width:100px;
    margin-left:10%;
}
.terms_of_use{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right: 40%;
    text-decoration: none;

}
.private_info{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:40%;
    text-decoration: none;
}
.contact_us{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    text-decoration: none;
}
.copyright_div{
    display:flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:10%;
}

.copyright_mark{
    width:10px;
    height: 10px;
    margin-right:5px;
}
.copyright_likelion{
    font-family: "Noto Sans KR";
    font-size:11px;
    color:var(--font-color-sub);
}
