:root{
    --color-main-deepblue:#1F244E;
    --color-main-lightblue:rgba(0, 40, 112, 0.70);
    --color-sub-lightblue:rgba(0, 40, 112, 0.30);
    --color-sub-grey:#d9d9d9;
    --font-color-main:#3a3a3a;
    --font-color-sub:#ffffff;
    --font-weight-bold:700;
    --font-weight-normal:500;
    --font-weight-light:400;

}

body, html{
    margin: 0;
    padding: 0;
    display:block;
}

/*네비게이션 바*/
.navbar{
    background-color: var(--color-sub-lightblue);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 좌측*/
.navbar_title{
    margin-left: 10%;
}
.navbar__toggle-btn{
    display: none;
}

/*송곳매 로고*/
.maha_lazer{
    width: 45px;
    height: 48px;
}

/*송곳매 로고 글씨*/
.service_title{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 12px;
}

/*네비게이션 바 우측*/
.navbar_text{
    display: flex;
}

/*네비게이션 바 우측 디테일*/
.navbar_menu{
    display: flex;
    align-items: center;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_main{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    /*font-weight: var(--font-weight-normal);*/
    font-weight: bold;
    padding-right:2vw;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_create{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    /*font-weight: var(--font-weight-normal);*/
    font-weight: bold;
    padding-right:2vw;
    text-decoration: none;
}

.navbar_menu_login{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    /*font-weight: var(--font-weight-light);*/
    font-weight: bold;
    padding-right:2vw;
    text-decoration:none;

}

.navbar_menu_email{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    /*font-weight: var(--font-weight-light);*/
    font-weight: bold;
    padding-right:2vw;

}

/*body*/
.signup_main_title{
    font-family: "Noto Sans KR";
    font-size:40px;
    color:var(--font-color-main);
    /*display: flex;*/
    text-align: center;
    /*justify-content: center;*/
    margin-right:auto;
    margin-left:auto;
    font-weight: 700;
}
.signup_main_box{
    border: 2px solid var(--color-sub-grey);
    width:590px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.email_input_div{
    display:flex;
    flex-direction: column;
    margin-top:10%;
}

.email_confirm_div{
    display:flex;
    flex-direction: column;
    margin-top:10%;
}

.email_input_div #email_q {
    position: relative;
}

#email_q button{
    border: none;
    background-color: var(--color-sub-lightblue);
    /*border: 2px solid var(--color-main-lightblue);*/
    position: absolute;
    width: 100px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 100px;
    margin: auto 0;
    border-radius: 18px;
    font-weight: 700;
}

.email_input_div #email_a {
    position: relative;
}

#email_a button{
    border: none;
    background-color: var(--color-sub-lightblue);
    position: absolute;
    width: 100px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 100px;
    margin: auto 0;
    border-radius: 18px;
    font-weight: 700;
}

.nickname_input_div{
    display:flex;
    flex-direction: column;
}
.password_input_div{
    display:flex;
    flex-direction: column;
}
.pw_confirm_input_div{
    display:flex;
    flex-direction: column;
}
.kau_email_input{
    border: 1px solid var(--color-sub-grey);
    border-radius: 10px;
    width:70%;
    height:60px;
    margin-left:15%;
    font-family: "Noto Sans KR";
    font-size:15px;
    /*color:rgba(58, 58, 58, 0.10);*/
    color:rgba(58, 58, 58, 1);
    padding-left:1%;
}
.kau_nickname_input{
    border: 1px solid var(--color-sub-grey);
    border-radius: 10px;
    width:70%;
    height:60px;
    margin-left:15%;
    font-family: "Noto Sans KR";
    font-size:15px;
    color:rgba(58, 58, 58, 1);
    padding-left:1%;
}
.kau_password_input{
    border: 1px solid var(--color-sub-grey);
    border-radius: 10px;
    width:70%;
    height:60px;
    margin-left:15%;
    font-family: "Noto Sans KR";
    font-size:15px;
    color:rgba(58, 58, 58, 1);
    padding-left:1%;
}
.kau_pw_confirm_input{
    border: 1px solid var(--color-sub-grey);
    border-radius: 10px;
    width:70%;
    height:60px;
    margin-left:15%;
    font-family: "Noto Sans KR";
    font-size:15px;
    color:rgba(58, 58, 58, 1);
    padding-left:1%;
}
.email_text{
    font-family: "Noto Sans KR";
    text-align: left;
    color:var(--font-color-main);
    font-size:18px;
    margin-left:16%;
    font-weight: var(--font-weight-bold);
}
.nickname_text{
    font-family: "Noto Sans KR";
    text-align: left;
    color:var(--font-color-main);
    font-size:18px;
    margin-left:16%;
    font-weight: var(--font-weight-bold);
}
.password_text{
    font-family: "Noto Sans KR";
    text-align: left;
    color:var(--font-color-main);
    font-size:18px;
    margin-left:16%;
    font-weight: var(--font-weight-bold);
}
.pw_confirm_text{
    font-family: "Noto Sans KR";
    text-align: left;
    color:var(--font-color-main);
    font-size:18px;
    margin-left:16%;
    font-weight: var(--font-weight-bold);
}
.send_message{
    font-family: "Noto Sans KR";
    font-size: 14px;
    color:var(--color-sub-grey);
    font-weight: 600;
    text-align: right;
    margin-right:15%;
}
.alert_div{
    display:flex;
    align-items: center;
    justify-content: right;
}
.alert_circle{
    width:15px;
    height:15px;
    margin-right:5px;
}
.alert_message{
    font-family: "Noto Sans KR";
    font-size: 14px;
    color:var(--color-sub-grey);
    font-weight: 600;
    text-align: right;
    margin-right:15%;
}
.button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom:5%;
}
.signup_submit{
    border:none;
    background-color: var(--color-sub-lightblue);
    border-radius: 30px;
    width:180px;
}
.signup_submit_complete{
    font-family: "Noto Sans KR";
    font-size:16px;
    color:var(--font-color-main);
    font-weight: 700;
}

/*footer*/
.footer{
    background-color: var(--color-main-deepblue);
    width:100%;
    height: 120px;
    margin-top: 3%;
}
.footer_menu{
    padding-top: 2%;
    padding-left: 2%;
}
.footer_text{
    display:inline-block;
    text-align: center;
    white-space: nowrap;
    width:100px;
    margin-left:10%;
}
.terms_of_use{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right: 40%;
    text-decoration: none;

}
.private_info{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:40%;
    text-decoration: none;
}
.contact_us{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:40%;
    text-decoration: none;
}
.community_compliance{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    text-decoration: none;
}
.copyright_div{
    display:flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:10%;
}

.copyright_mark{
    width:10px;
    height: 10px;
    margin-right:5px;
}
.copyright_likelion{
    font-family: "Noto Sans KR";
    font-size:11px;
    color:var(--font-color-sub);
}

.fix{
    /*width: 1200.007px;*/
    width: 100%;
    background: #D9D9D9;
}

/*반응형 웹페이지 - 미디어커리*/
@media screen and (max-width:767px){
    .navbar {
        align-items: center;
        padding: 10px 0;
        display: flex;
    }
    .bg{
        margin-top:159px;
        position:absolute;
        background-color: var(--color-sub-lightblue);
        width:100%;
        height:auto;
        justify-content: center;
    }
    .service_title{
        display:none;
    }

    .navbar_title {
        margin-left:175px;
        margin-top:10px;
        margin-bottom:10px;
    }

    .navbar_text {
        margin-left: auto;
        display:block;
        text-align: center;
    }

    .navbar_menu {
        display:none;
    }
    .navbar_menu.open{
        display:flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .navbar_menu_main{
        padding-right:0;
        padding-left:2vw;
    }
    .navbar_menu_create{
        padding-right:0;
        padding-left:2vw;
    }
    .navbar_menu_login{
        padding-right:0;
        padding-left:2vw;
    }
    .navbar_menu_email{
        padding-right:0;
        padding-left:2vw;
    }

    .navbar__toggle-btn{
        display:flex;
        margin-right:40px;
    }
    .navbar__toggle-btn.open{
        display:none;
    }
    .signup_main_title{
        font-size:2rem;
    }
    .signup_main_box{
        width:80%;
        margin-left:10%;
    }
    .email_text{
        font-size:0.8rem;
    }

    #email_q button{
        width: 80px;
        height: 28px;
        top: 0;
        bottom: 0;
        right: 16%;
        margin: auto 0;
        border-radius: 8px;
        font-size: 0.5rem;
    }

    #email_a button{
        width: 80px;
        height: 28px;
        top: 0;
        bottom: 0;
        right: 16%;
        margin: auto 0;
        border-radius: 8px;
        font-size: 0.5rem;
    }

    .kau_email_input{
        font-size:0.5rem;
        height:40px;
    }
    .send_message{
        font-size:0.4rem;
    }
    .nickname_text{
        font-size:0.8rem;
    }
    .kau_nickname_input{
        font-size:0.5rem;
        height:40px;
    }
    .password_text{
        font-size:0.8rem;
    }
    .kau_password_input{
        font-size:0.5rem;
        height:40px;
    }
    .pw_confirm_text{
        font-size:0.8rem;
    }
    .kau_pw_confirm_input{
        font-size:0.5rem;
        height:40px;
    }
    .alert_circle{
        width:8px;
        height:8px;
    }
    .alert_message{
        font-size:0.5rem;
    }
    .signup_submit{
        height:40px;
    }
    .signup_submit_complete{
        font-size:0.8rem;
    }
    .footer{
        width:100%;
    }
    .footer_menu{
        display:flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    .footer_text{
        width:100%;
        margin-left:0;
        margin-top: 5%;
    }
    .terms_of_use{
        font-size:12px;
        padding-right: 5%;
    }

    .private_info{
        font-size:12px;
        padding-right: 5%;
    }
    .contact_us{
        font-size:12px;
        padding-right: 5%;
    }
    .community_compliance{
        font-size:12px;
    }
    .copyright_div{
        justify-content: left;
        margin-top:5%;
        margin-left:0;
        margin-bottom: 1%;
    }
}