:root{
    --color-main-deepblue:#1F244E;
    --color-main-lightblue:rgba(0, 40, 112, 0.70);
    --color-sub-lightblue:rgba(0, 40, 112, 0.30);
    --color-sub-grey:#d9d9d9;
    --font-color-main:#3a3a3a;
    --font-color-sub:#ffffff;
    --font-weight-bold:700;
    --font-weight-normal:500;
    --font-weight-light:400;

}

body, html{
    margin: 0;
    padding: 0;
}

/*네비게이션 바*/
.navbar{
    background-color: var(--color-sub-lightblue);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 좌측*/
.navbar_title{
    margin-left: 10%;
}

/*송곳매 로고*/
.maha_lazer{
    width: 45px;
    height: 48px;
}

/*송곳매 로고 글씨*/
.service_title{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 12px;
}

/*네비게이션 바 우측*/
.navbar_text{
    margin-right: 10%;
    display: flex;
    float: left;

}

/*네비게이션 바 우측 디테일*/
.navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_main{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    font-weight: var(--font-weight-normal);
    padding-right:2vw;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_create{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    font-weight: var(--font-weight-normal);
    padding-right:2vw;
    text-decoration: none;
}

.navbar_menu_login{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    font-weight: var(--font-weight-light);
    padding-right:2vw;
    text-decoration: none;

}

.navbar_menu_email{
    text-decoration: none;
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    font-weight: var(--font-weight-light);
    padding-right:2vw;

}

/*가장 큰 타이틀 - 로그인*/
.login_main_title{
    font-family: "Noto Sans KR";
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color:var(--font-color-main);
    margin-top: 5%;
}

/*login 요소들을 담은 큰 박스*/
.login_box{
    width:590px;
    height:540px;
    border-radius: 10px;
    border:3px solid var(--color-sub-grey);
    margin-left:31%;
}

.google_login_btn{
    width:70%;
    height:64px;
    background-color: var(--color-main-deepblue);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:15%;
}
.google_logo{
    width:28px;
    height: 28px;
    margin-right: 4%;
}
.social_login_text{
    font-family: "Noto Sans KR";
    color: var(--font-color-sub);
    font-size:15px;
}
.auto_login_div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border:1px solid var(--font-color-main);
    border-radius: 10px;
    margin-right: 1%;
}
input[id="check_login"]:checked + label::after{
    color: var(--font-color-main);
    content:'✔';
    font-size: 25px;
    width:30px;
    height: 30px;
    text-align: center;
    left: 0;
    top:0;
}
.auto_login_text{
    font-family: "Noto Sans KR";
    color: var(--font-color-main);
    font-size: 13px;
}

.kau_email_account{
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-weight: 700;
    color:var(--font-color-main);
    text-align: center;
    margin-top: 5%;
}

.kau_email{
    width:70%;
    height:60px;
    border-radius: 10px;
    border:1px solid var(--color-sub-grey);
    font-family: "Noto Sans KR";
    color:rgba(58, 58, 58, 0.10);
    padding-left:3%;
    font-size:15px;
    font-weight: var(--font-weight-light);
}
.kau_password{
    margin-top:2%;
    width:70%;
    height:60px;
    border-radius: 10px;
    border:1px solid var(--color-sub-grey);
    font-family: "Noto Sans KR";
    color:rgba(58, 58, 58, 0.10);
    padding-left:3%;
    font-size:15px;
    font-weight: var(--font-weight-light);
}
.email_input_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email_login_div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15%;
}

.alert-circle{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
.account_message{
    font-family: "Noto Sans KR";
    font-size:14px;
    color:var(--color-sub-grey);
}
.submit_button_div{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.certification_submit{
    background-color: var(--color-sub-lightblue);
    width:180px;
    height:47px;
    border-radius: 30px;
    border: none;
}
.submit_text{
    font-family: "Noto Sans KR";
    font-size: 16px;
    color: var(--font-color-main);
    font-weight: 700;
}
.signup_and_pw_div{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:1%;
    margin-bottom: 5%;
}
.signup_text{
    font-family: "Noto Sans KR";
    font-size:13px;
    font-weight: var(--font-weight-normal);
    color:var(--color-main-lightblue);
    padding-right:5px;
    text-decoration: none;
}
.pw_update_text{
    font-family: "Noto Sans KR";
    font-size:13px;
    font-weight: var(--font-weight-normal);
    color:var(--color-main-lightblue);
    padding-right:5px;
    text-decoration: none;
}

/*footer*/
.footer{
    background-color: var(--color-main-deepblue);
    width:100%;
    height: 120px;
    margin-top: 3%;
}
.footer_menu{
    padding-top: 2%;
    padding-left: 2%;
}
.footer_text{
    display:inline-block;
    text-align: center;
    white-space: nowrap;
    width:100px;
    margin-left:10%;
}
.terms_of_use{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right: 40%;
    text-decoration: none;

}
.private_info{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:40%;
    text-decoration: none;
}
.contact_us{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    text-decoration: none;
}
.copyright_div{
    display:flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:10%;
}

.copyright_mark{
    width:10px;
    height: 10px;
    margin-right:5px;
}
.copyright_likelion{
    font-family: "Noto Sans KR";
    font-size:11px;
    color:var(--font-color-sub);
}


.fix{
    /*width: 1200.007px;*/
    width: 100%;
    height: 1px;
    background: #D9D9D9;
}

/*미디어쿼리 적용*/
@media screen and (max-width:767px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .service_title{
        display:none;
    }

    .navbar_title {
        margin: 10px 0;
    }

    .navbar_text {
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar_menu_item {
        margin: 10px 0;
    }
    .login_main_title{
        font-size:2rem;
        margin-top:10%;
        margin-left:2%;
    }
    .login_box{
        width:70%;
        margin-left:15%;
        margin-right:15%;
    }
    .email_input_div{
        margin-top:10%;
    }
    .kau_email_account{
        font-size:1rem;
        margin-top:10%;
    }
    .kau_email{
        height:30px;
    }
    .kau_password{
        height:30px;
    }
    .email_login_div{
        margin-top:2%;
    }
    .alert-circle{
        width:15px;
        height:15px;
    }
    .account_message{
        font-size:0.5rem;
        color: var(--font-color-main);
    }
    .submit_button_div{
        margin-top:10%;
    }
    .certification_submit{
        height:35px;
        width:50%;
        border-radius: 8px;
    }
    .submit_text{
        font-size:0.8rem;
    }
    .google_login_btn{
        height:40px;
        margin-top:10%;
    }
    .social_login_text{
        font-size:0.5rem;
    }
    .google_logo{
        width:15px;
        height:15px;
    }
    .social_login_btn_div{
        margin-top:20%;
    }
    .auto_login_div{
        margin-top: 10%;
    }
    input[type="checkbox"] + label{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        width: 15px;
        height: 15px;
        border:1px solid var(--font-color-main);
        margin-right: 1%;
    }
    input[id="check_login"]:checked + label::after{
        color:var(--font-color-sub);
        font-size:5px;
        width:15px;
        height:15px;
        background-color:var(--color-main-deepblue);
        left: 0;
        top:0;
    }
    .footer{
        width:100%;
        height:300px;
    }
    .footer_menu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_text{
        width:70%;
        margin-top: 5%;
        margin-left:0;
    }
    .terms_of_use{
        font-size:12px;
        padding-right: 5%;
    }

    .private_info{
        font-size:12px;
        padding-right: 5%;
    }
    .contact_us{
        font-size:12px;
        padding-right: 5%;
    }
    .copyright_div{
        justify-content: center;
        margin-top:5%;
        margin-left:0;
    }
}
