:root{
    --color-main-deepblue:#1F244E;
    --color-main-lightblue:rgba(0, 40, 112, 0.70);
    --color-sub-lightblue:rgba(0, 40, 112, 0.30);
    --color-sub-grey:#d9d9d9;
    --font-color-main:#3a3a3a;
    --font-color-sub:#ffffff;
    --font-weight-bold:700;
    --font-weight-normal:500;
    --font-weight-light:400;

}

body, html{
    margin: 0;
    padding: 0;
}

/*네비게이션 바*/
.navbar{
    background-color: var(--color-sub-lightblue);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*네비게이션 바 좌측*/
.navbar_title{
    margin-left: 10%;
}

/*송곳매 로고*/
.maha_lazer{
    width: 45px;
    height: 48px;
}

/*송곳매 로고 글씨*/
.service_title{
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-left: 10px;
    position: absolute;
    margin-top: 14px;
}

/*네비게이션 바 우측*/
.navbar_text{
    margin-right: 10%;
    display: flex;
    float: left;
}

/*네비게이션 바 우측 디테일*/
.navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바 우측 아이템*/
.navbar_menu_create{
    font-family:"Noto Sans KR";
    font-size:18px;
    color:var(--font-color-main);
    font-weight: var(--font-weight-normal);
    padding-right:2vw;
}

.navbar_menu_login{
    font-family:"Noto Sans KR";
    font-size:15px;
    color:var(--color-sub-grey);
    font-weight: var(--font-weight-light);
    padding-right:2vw;

}
/*가장 큰 타이틀 - 로그인*/
.login_main_title{
    font-family: "Noto Sans KR";
    font-size: 40px;
    font-weight: 700;
    color:var(--font-color-main);
    text-align: center;
    margin-top: 10%;

}

/*login 요소들을 담은 큰 박스*/
.login_box{
    width:80%;
    height:550px;
    border-radius: 10px;
    border:3px solid var(--color-sub-grey);
    margin-left:100px;
}
.linked_login{
    font-family: "Noto Sans KR";
    color:var(--font-color-main);
    font-size:18px;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
}

.google_login_btn{
    width:70%;
    height:64px;
    background-color: var(--color-main-deepblue);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:140px;
}
.google_logo{
    width:28px;
    height: 28px;
    margin-right: 4%;
}
.social_login_text{
    font-family: "Noto Sans KR";
    color: var(--font-color-sub);
    font-size:15px;
}
.auto_login_div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border:1px solid var(--font-color-main);
    border-radius: 10px;
    margin-right: 1%;
}
input[id="check_login"]:checked + label::after{
    color: var(--font-color-main);
    content:'✔';
    font-size: 25px;
    width:30px;
    height: 30px;
    text-align: center;
    left: 0;
    top:0;
}
.auto_login_text{
    font-family: "Noto Sans KR";
    color: var(--font-color-main);
    font-size: 13px;
}

.kau_email_account{
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-weight: 700;
    color:var(--font-color-main);
    text-align: center;
    margin-top: 5%;
}

.kau_email{
    width:70%;
    height:60px;
    border-radius: 10px;
    border:1px solid var(--color-sub-grey);
}
.email_input_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email_login_div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15%;
}

.alert-circle{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
.account_message{
    font-family: "Noto Sans KR";
    font-size:14px;
    color:var(--color-sub-grey);
}
.submit_button_div{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.certification_submit{
    background-color: var(--color-sub-lightblue);
    width:180px;
    height:47px;
    border-radius: 30px;
    border: none;
}
.submit_text{
    font-family: "Noto Sans KR";
    font-size: 16px;
    color: var(--font-color-main);
    font-weight: 700;
}

/*footer*/
footer{
    background-color: var(--color-main-deepblue);
    width:100%;
    height: 120px;
    margin-top: 3%;
}
.footer_menu{
    display:flex;
    justify-content: flex-start;
    padding-top: 2%;
    padding-left: 5%;
}

.terms_of_use{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right: 5%;
}
.private_info{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
    padding-right:5%;
}
.contact_us{
    font-family: "Noto Sans KR";
    color:var(--font-color-sub);
    font-size:15px;
}
.copyright_div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.copyright_mark{
    width:10px;
    height: 10px;
    margin-right:5px;
}
.copyright_likelion{
    font-family: "Noto Sans KR";
    font-size:11px;
    color:var(--font-color-sub);
}

.fix{
    /*width: 1200.007px;*/
    width: 100%;
    height: 1px;
    background: #D9D9D9;
}

/*미디어쿼리 적용*/
@media screen and (max-width:767px) {
    .navbar{
        width:100%;
        /*왜됨? 몰루...*/
        box-sizing: border-box;
    }
    .navbar_menu_create {
        padding-right: 4vw;
        font-size: 0.8rem;
    }

    .navbar_menu_login {
        font-size: 0.5rem;
    }
    .login_main_title{
        font-size: 2rem;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .login_box{
        margin-left: 8%;
        height:500px;
        margin-top: 10%;
    }
    .linked_login{
        margin-top: 10%;
    }
    .google_login_btn{
        margin-left: 15%;
        margin-bottom: 5%;
    }
    .google_logo{
        width:20px;
        height: 20px;
    }
    .social_login_text{
        font-size: 0.8rem;
    }
    .email_input_div{
        margin-top: 10%;
    }
    .email_login_div{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 12%;
    }
    .alert-circle{
        width:15px;
        height: 15px;
    }
    .account_message{
        font-size: 0.5rem;
        color:var(--color-main-deepblue);
    }
    .submit_button_div{
        margin-top: 10%;
    }

    .footer{
        display:none;
    }
}
