<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>청원리스트</title>
  <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<body>

<!--네비게이션바-->
<nav class="navbar">

  <!--좌측-->
  <div class="navbar_title">
    <img src="../static/image/logo.png" alt="logo" class="maha_lazer">
    <a class="service_title" href="main.html">송곳매</a>
  </div>

  <!--우측-->
  <div class="navbar_text">
    <ul class="navbar_menu">
      <a class="navbar_menu_main" href="main.html">청원보기</a>
      <a class="navbar_menu_create" href="create.html">청원하기</a>
      <a class = "navbar_menu_login" href="login.html" >로그인</a>
      <a class = "navbar_menu_login" href="email.html" >회원가입</a>
    </ul>
  </div>

</nav>

<!--페이지에서 보이는 제일 큰 타이틀-->
<div class="page_title">
  <h2>청원보기</h2>
</div>

<!--리스트 노출 기준-->
<div class="main_page_1">
  <h3>청원 100개 이상 게시물</h3>
  <div class="horizontal-line"></div>
  <div class="grid-item">
    <div class="context_container">
      <div class="context_topic">
        <p>제목 어쩌구 저쩌구</p>
      </div>
      <div class="context_box">
        <div class="context">
          <p> 국가는 농지에 관하여 경자유전의 원칙이 달성될 수 있도록 노력하여야 하며, 농지의 소작제도는 금지된다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다.
            형사피의자 또는 형사피고인으로서 구금되었던 자가 법률이 정하는 불기소처분을 받거나 무죄판결을 받은 때에는 법률이 정하는 바에 의하여 국가에 정당한 보상을 청구할 수 있다. </p>
        </div>
      </div>
      <div class="context_detail">
        <p>작성 일시 : 2023-08-12</p>
        <p>조회수 : 1230</p>
      </div>
    </div>
  </div>


</div>
<div class="grid-item"></div>
<div class="grid-item"></div>
<div class="grid-item"></div>
</div>
</div>
</body>
</html>