<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 준수사항</title>
  <link rel="stylesheet" href="../static/css/community.css" type="text/css">
  <link rel="fontsetting" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
<!--네비게이션바-->
<nav class="navbar">

  <!--좌측-->
  <div class="navbar_title">
    <img src="../static/image/logo.png" alt="logo" class="maha_lazer">
    <a class="service_title" href="main.html">송곳매</a>
  </div>

  <!--우측-->
  <div class="navbar_text">
    <img src="../static/image/hamburger-toggle.png" alt="toggle" class="navbar__toggle-btn">
    <div class="navbar_menu">
      <a class="navbar_menu_main" href="main.html">청원보기</a>
      <a class="navbar_menu_create" href="create.html">청원하기</a>
      <a class = "navbar_menu_login"href="login.html" >로그인</a>
      <a class = "navbar_menu_email" href="email.html" >회원가입</a>
    </div>
  </div>

</nav>
<p class="community_main_title">커뮤니티 준수사항</p>
<!--아코디언 구역 전체의 부모태그-->
<div class="accordion_area">
<!--  아코디언 기능을 실행시키는 태그-->
  <div class="accordion_drop_container">
      <button class="open_btn">
        <img src="../static/image/info_circle_black.png" class="info_circle_black" alt="default_info_circle">
        <img src="../static/image/info_circle.png" class="info_circle" alt="info_circle">
        <p class="accordion_title_text">커뮤니티 준수사항 안내</p>
        <img src="../static/image/bottom_arrow.png" class="bottom_arrow" alt="bottom_arrow">
      </button>
  </div>
<!--  아코디언을 적용시킬 태그-->
  <div class="accordion_content">
    <p class="accordion_content_text">
      커뮤니티 이용규칙은 누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 제정되었습니다. 서비스 내 모든 커뮤니티는 커뮤니티 이용규칙에 의해 운영되므로, 이용자는 커뮤니티 이용 전 반드시 모든 내용을 숙지하여야 합니다.
      방송통신심의위원회의 정보통신에 관한 심의규정, 현행 법률, 서비스 이용약관 및 커뮤니티 준수사항을 위반하거나, 사회 통념 및 관련 법령을 기준으로 타 이용자에게 악영향을 끼치는 경우, 게시물이 삭제되고 서비스 이용이 일정 기간 제한 될 수 있습니다.
      커뮤니티 준수사항은 불법행위, 각종 차별 및 혐오, 사회적 갈등 조장, 타인의 권리 침해, 다른 이용자에게 불쾌감을 주는 행위, 커뮤니티 유출 행위, 시스템 장애를 유발하는 비정상 행위 등 커뮤니티 분위기 형성과 운영에 악영향을 미치는 행위들을 제한하기 위해 지속적으로 개정됩니다.
      중대한 변경 사항이 있는 경우에는 공지사항을 통해 고지하므로 반드시 확인해주시기 바랍니다.

      커뮤니티 준수사항에서 사용된 용어의 정의는 서비스 이용약관을 따릅니다.
    </p>
  </div>

</div>

<script src="../static/js/nav.js"></script>
<script src="../static/js/accordion.js"></script>

</body>
<!--푸터-->
<footer class="footer">
  <div class="footer_menu">
    <div class="footer_text">
      <a class="terms_of_use" href="#">이용약관</a>
      <a class="private_info" href="#">개인정보 처리방침</a>
      <a class="contact_us" href="#">이용문의</a>
      <a class="community_compliance">커뮤니티 준수사항</a>
    </div>
    <div class="copyright_div">
      <img src="../static/image/copyright.png" alt="copyright" class="copyright_mark">
      <p class="copyright_likelion">likelion.com</p>
    </div>
  </div>
</footer>
</html>