<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청원 작성페이지</title>
    <link rel="stylesheet" href="../static/css/create.css" type="text/css">
    <link rel="fontsetting" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../static/js/create.js"></script>

<body>

    <!--네비게이션바-->
    <nav class="navbar">

        <!--좌측-->
        <div class="navbar_title">
            <img src="../static/image/logo.png" alt="logo" class="maha_lazer">
            <a class="service_title" href="main.html">송곳매</a>
        </div>

        <!--우측-->
        <div class="navbar_text">
            <div class="navbar_menu">
                <a class="navbar_menu_main" href="main.html">청원보기</a>
                <a class="navbar_menu_create" href="create.html">청원하기</a>
                <a class = "navbar_menu_login"href="login.html" >로그인</a>
                <a class = "navbar_menu_email" href="email.html" >회원가입</a>
            </div>
        </div>

    </nav>

    <!--페이지에서 보이는 제일 큰 타이틀-->
    <div class="create_page_title">
        <p class="page_title">청원하기</p>
    </div>

    <!--입력전 조그만한 주의사항-->
    <div class="warning_box">
        <p class="info_text">청원 내용을 입력해주세요</p>
        <p class="warning_text">*표시는 필수 입력항목입니다</p>
    </div>

    <!--청원 내용 입력박스-->
    <div class="create_page_box">
        <div class="title_div">
            <p class="red_star">*</p>
            <p class="create_title">청원 제목</p>
            <input class="post_title" id="title">
        </div>
        <hr class="createbox_between_line">
        <div class="content_div">
            <p class="red_star">*</p>
            <p class="create_text">청원 내용</p>
            <input class="post_text" id="content">
        </div>
    </div>

    <!--버튼들-->
    <div class="create_page_button">
        <button class="cancel_button">취소</button>
        <button class="back_button">이전화면으로 이동</button>
        <button class="submit_button" onclick="create()">신청</button>
    </div>
</body>

<!--푸터-->
<footer class="footer">
    <div class="footer_menu">
        <div class="footer_text">
            <a class="terms_of_use" href="#">이용약관</a>
            <a class="private_info" href="#">개인정보 처리방침</a>
            <a class="contact_us" href="#">이용문의</a>
        </div>
        <div class="copyright_div">
            <img src="../static/image/copyright.png" alt="copyright" class="copyright_mark">
            <p class="copyright_likelion">likelion.com</p>
        </div>
    </div>
</footer>

</html>