<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="../static/css/email.css">
  <link rel="fontsetting" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>

<body>

<!--네비게이션바-->
<nav class="navbar">

  <!--좌측-->
  <div class="navbar_title">
    <a href="main.html"><img src="../static/image/logo.png" alt="logo" class="maha_lazer"></a>
    <a class="service_title" href="main.html">송곳매</a>
  </div>
  <img src="../static/image/hamburger-toggle.png" alt="toggle" class="navbar__toggle-btn">

  <div class="bg">
    <!--우측-->
    <div class="navbar_text">
      <div class="navbar_menu">
        <a class="navbar_menu_main" href="main.html">청원보기</a>
        <a class="navbar_menu_create" href="create.html">청원하기</a>
        <a class ="navbar_menu_login" href="login.html" >로그인</a>
        <a class = "navbar_menu_login" href="email.html" >회원가입</a>
      </div>
    </div>
  </div>
</nav>

<p class="signup_main_title">회원가입</p>
<div class="signup_main_box">
  <div class="signup_email">
    <div class="email_input_div">
      <p class="email_text">kau 이메일(아이디)</p>
      <div id="email_q">
        <input type="text" placeholder="이메일을 입력해주세요" class="kau_email_input" id="kauemail">
        <button>인증번호 받기</button>
      </div>
      <p class="send_message">kau계정 이메일로 재학생 인증을 해주세요</p>
      <div id="email_a">
        <input type="text" placeholder="인증번호를 입력해주세요" class="kau_email_input" id="kauemail">
        <button>인증번호 확인</button>
      </div>
    </div>
  </div>
  <div class="nickname_input_div">
    <p class="nickname_text">닉네임</p>
    <input type="text" placeholder="닉네임을 입력해주세요" class="kau_nickname_input" id="nickname">
    <p class="send_message">청원글 작성시에는 닉네임 없이 익명으로 가능합니다</p>
  </div>
  <div class="password_input_div">
    <p class="password_text">비밀번호</p>
    <input type="text" placeholder="비밀번호를 입력해주세요" class="kau_password_input" id="password">
  </div>
  <div class="pw_confirm_input_div">
    <p class="pw_confirm_text">비밀번호 확인</p>
    <input type="text" placeholder="비밀번호를 다시 입력해주세요" class="kau_pw_confirm_input">
    <div class="alert_div">
<!--      <img src="../static/image/exclamation-circle.png" alt="alert_circle" class="alert_circle">-->
<!--      <p class="alert_message">비밀번호가 일치하지 않습니다</p>-->
    </div>
   </div>
    <div class="button_div">
      <button class="signup_submit" onclick="signup()">
        <p class="signup_submit_complete">회원가입 완료</p>
      </button>
    </div>
  </div>
</div>


<script src="../static/js/nav.js/"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../static/js/signup.js"></script>

</body>

<!—푸터—>
<footer class="footer">
  <div class="footer_menu">
    <div class="footer_text">
      <a class="terms_of_use" href="Terms_and_Conditions_of_Use.html"> 서비스 이용약관</a>
      <a class="contact_us" href="voc.html">피드백 남기기</a>
      <a class="community_compliance" href="community.html">커뮤니티 준수사항</a>
    </div>
    <div class="copyright_div">
      <img src="../static/image/copyright.png" alt="copyright" class="copyright_mark">
      <p class="copyright_likelion">likelion.com</p>
    </div>
  </div>
</footer>
</html>
