<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="fontsetting" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>
<body>

<!--네비게이션바-->
<nav class="navbar">

    <!--좌측-->
    <div class="navbar_title">
        <img src="../static/image/logo.png" alt="logo" class="maha_lazer">
        <a class="service_title" href="main.html">송곳매</a>
    </div>

    <!--우측-->
    <div class="navbar_text">
        <img src="../static/image/hamburger-toggle.png" alt="toggle" class="navbar__toggle-btn">
        <div class="navbar_menu">
            <a class="navbar_menu_main" href="main.html">청원보기</a>
            <a class="navbar_menu_create" href="create.html">청원하기</a>
            <a class ="navbar_menu_login" href="login.html" >로그인</a>
            <a class = "navbar_menu_login" href="email.html" >회원가입</a>
        </div>
    </div>

</nav>

<p class="login_main_title">로그인</p>
<div class="login_box">
    <div class="email_input_div">
        <p class="kau_email_account">Kau 계정으로 로그인하기</p>
        <input type="text" placeholder="likelion@kau.kr"class="kau_email">
        <input type="text" placeholder="비밀번호"class="kau_password">
    </div>
    <div class="email_login_div">
        <img src="../static/image/exclamation-circle.png" alt="alert-circle" class="alert-circle">
        <p class="account_message">이미 회원가입이 완료된 계정입니다</p>
    </div>
    <div class="submit_button_div">
        <button class="certification_submit">
            <p class="submit_text">로그인</p>
        </button>
    </div>
    <div class="signup_and_pw_div">
        <a class="signup_text" href="email.html">회원가입</a>
        <a class="pw_update_text" href="#">비밀번호 찾기</a>
    </div>
    <div class="social_login_btn_div">
        <button class="google_login_btn">
            <img src="../static/image/google.png" alt="google" class="google_logo">
            <p class="social_login_text">google 계정으로 로그인</p>
        </button>
    </div>

    <div class="auto_login_div">
        <input type="checkbox" id="check_login"></input>
        <label for="check_login"></label>
        <p class="auto_login_text">로그인 상태 유지하기</p>
    </div>

</div>

<script src="../static/js/nav.js"></script>
</body>

<!—푸터—>
<footer class="footer">
    <div class="footer_menu">
        <div class="footer_text">
            <a class="terms_of_use" href="#">이용약관</a>
            <a class="private_info" href="#">개인정보 처리방침</a>
            <a class="contact_us" href="voc.html">피드백 남기기</a>
        </div>
        <div class="copyright_div">
            <img src="../static/image/copyright.png" alt="copyright" class="copyright_mark">
            <p class="copyright_likelion">likelion.com</p>
        </div>
    </div>
</footer>
</html>