<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>청원리스트</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>

    <!--네비게이션바-->
    <nav class="navbar">

        <!--좌측-->
        <div class="navbar_title">
            <img src="../static/image/logo.png" alt="logo" class="maha_lazer">
            <a class="service_title" href="main.html">송곳매</a>
        </div>

        <!--우측-->
        <div class="navbar_text">
            <ul class="navbar_menu">
                <li class="navbar_menu_item" ><a href="create.html">청원하기</a></li>
                <li class="navbar_menu_item"><a href="login.html" >로그인/회원가입</a></li>
            </ul>
        </div>

    </nav>

    <!--페이지에서 보이는 제일 큰 타이틀-->
    <div class="page_title">
        <h2>청원보기</h2>
    </div>

    <!--리스트 노출 기준-->
    <div class="main_page_1">
        <h3>청원 100개 이상 게시물</h3>
    </div>

</body>
</html>