<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>

    <link rel="stylesheet" href="../static/css/mypage.css" type="text/css">
    <link rel="fontsetting" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
    <script src="../static/js/mypage.js" defer></script>

</head>
<body>
<!--네비게이션바-->
<nav class="navbar">

    <!--좌측-->
    <div class="navbar_title">
        <a href="main.html"><img src="../static/image/logo.png" alt="logo" class="maha_lazer"></a>
        <a class="service_title" href="main.html">송곳매</a>
    </div>

    <!--우측-->
    <div class="navbar_text">
        <div class="navbar_menu">
            <a class="navbar_menu_main" href="main.html">청원보기</a>
            <a class="navbar_menu_create" href="create.html">청원하기</a>
            <a class = "navbar_menu_login" href="login.html" >로그인</a>
            <a class = "navbar_menu_login" href="email.html" >회원가입</a>
        </div>
    </div>

    <img class="navbar__toggle-btn" type="image" src="../static/image/hamburger_btn.png" onclick="">
    <!--        <i class="fa-sharp fa-solid fa-bars" style="color: #ffffff;"></i>-->

</nav>

<div class="contents_main_box">
    <div class="contents_div">
        <p class="contents_title">내 정보</p>
        <div class="info_section">
            <div class="info_box"></div>
            <p class="id_input">id input</p>
        </div>
        <p class="nickname">이름/닉네임</p>
        <p class="student_id">한국항공대00학번</p>
    </div>
</div>
<div class="contents_main_box">
    <div class="contents_div">
        <p class="contents_title">계정</p>
        <p class="school_certification">학교 인증</p>
        <p class="change_password" onclick="changePassword()">비밀번호 재발급</p>
    </div>
</div>

<div class="contents_main_box">
    <div class="contents_div">
        <p class="contents_title">이용약관</p>
        <a class="Terms_and_Conditions_of_Use" href="Terms_and_Conditions_of_Use.html">서비스 이용약관</a>
        <a class="community_compliance" href="community.html">커뮤니티 준수사항</a>

    </div>
</div>
<div class="contents_main_box">
    <div class="contents_div">
        <p class="contents_title">내 소식</p>
        <a class="membership_withdrawal" href="wroteby.html">내가 작성한 글</a>
    </div>
</div>


<script src="../static/js/main.js"></script>
<script src="../static/js/mypage.js"></script>
</body>

<footer class="footer">
    <div class="footer_menu">
        <div class="footer_text">
            <a class="footer_link" href="Terms_and_Conditions_of_Use.html">서비스 이용약관</a>
            <a class="footer_link" href="voc.html">피드백 남기기</a>
            <a class="footer_link" href="community.html">커뮤니티 준수사항</a>
        </div>
        <div class="copyright_div">
            <img src="../static/image/copyright.png" alt="copyright" class="copyright_mark">
            <p class="copyright_likelion">likelion.com</p>
        </div>
    </div>
</footer>


</html>