<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 글</title>

  <!--    <script-->
  <!--        src="https://kit.fontawesome.com/9eb162ac0d.js"-->
  <!--        crossorigin="anonymous">-->
  <!--    </script>-->
  <link rel="stylesheet" href="../static/css/wroteby.css" type="text/css">
  <link rel="fontsetting" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
  <!--    <script src="../static/js/main.js" defer></script>-->


</head>
<body>

<!--네비게이션바-->
<nav class="navbar">

  <!--좌측-->
  <div class="navbar_title">
    <a href="main.html"><img src="../static/image/logo.png" alt="logo" class="maha_lazer"></a>
    <a class="service_title" href="main.html">송곳매</a>
  </div>
  <img src="../static/image/hamburger-toggle.png" alt="toggle" class="navbar__toggle-btn">

  <div class="bg">
    <!--우측-->
    <div class="navbar_text">
      <div class="navbar_menu">
        <a class="navbar_menu_main" href="main.html">청원보기</a>
        <a class="navbar_menu_create" href="create.html">청원하기</a>
        <a class = "navbar_menu_login" href="login.html" id="loginButton">로그인</a>
        <a class = "navbar_menu_login" href="email.html" id="nav_signup">회원가입</a>
      </div>
    </div>
  </div>

  <!--    <img class="navbar__toggle-btn" type="image" src="../static/image/hamburger-toggle.png" onclick="">-->
  <!--        <i class="fa-sharp fa-solid fa-bars" style="color: #ffffff;"></i>-->

</nav>

<div class="main_div">
  <!--페이지에서 보이는 제일 큰 타이틀-->
  <div class="page_title">
    <p>내가 작성한 글</p>
  </div>
<!--  <div class="search">-->
<!--        <input class="search_text" type="text" placeholder="검색어 입력">-->
<!--        <img class="search_img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!--중간 구분선-->
  <div class="horizontal-line"></div>
  <!--청원글 리스트로 만듦-->
  <div class="contents_main_box">
    <div class="contents_container">
      <div class="contents_div">
        <p class="contents_title" id="contents_title">제목 어쩌구 저쩌구</p>
        <p class="contents_text" id="contents_text">
          눈이 내려온 영락과 설레는 산야에 있는 사람은 피가 것이다. 같이, 전인 이상, 열락의 있다. 오아이스도 끓는 열락의 그들은 석가는 속잎나고, 끓는다. 얼음과 찾아다녀도, 설레는 우리 속에 이것이다. 행복스럽고 사라지지 뛰노는 방지하는 교향악이다. 아니더면, 우리는 열락의 주는 수 힘차게 지혜는 끓는다. 따뜻한 봄바람을 얼음이 이것이다. 이상 방황하여도, 없는 넣는 그들에게 이것이다. 보이는 속에서 풀이 이상의 구하지 능히 풀밭에 이것은 것이다.

          고동을 쓸쓸한 무엇을 무엇을 타오르고 인생에 가치를 아름다우냐? 방지하는 오직 것은 풀밭에 얼마나 위하여서. 끓는 너의 이것은 가진 있다. 생명을 꽃 따뜻한 물방아 하는 힘차게 사막이다. 있는 소금이라 열락의 있는가? 얼음에 우는 그들을 있는가? 우리 바이며, 우리의 부패를 아니다. 이성은 별과 얼마나 같은 위하여서. 인생의 용기가 품었기 사막이다.
        </p>
      </div>
      <div class="contents_detail_div">
        <p class="contents_detail_date" id="contents_detail_date">어제</p>
        <p class="contents_detail_view" id="contents_detail_view">1230</p>
      </div>
      <div class="contents_detail_div_mobile">
        <p class="mobile_detail_date" id="mobile_detail_date">2023.08.12</p>
        <p class="mobile_detail_view" id="mobile_detail_view">조회 1230</p>
      </div>
    </div>
  </div>
  <!--빈 청원글 박스들-->
  <div class="contents_blank_box"></div>
  <div class="contents_blank_box"></div>
  <div class="contents_blank_box"></div>
  <div class="contents_blank_box"></div>
</div>
<input type="hidden" id="memberId" name="memberId" value="memberId">

<script src="../static/js/wroteby.js"></script>
<script src="../static/js/nav.js"></script>


</body>
</html>